/*--======================= FORMATAÇÕES GERAIS =======================--*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


* {
  margin: 0;
  font-family: "century gothic", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: rgb(212, 212, 212);
  overflow-x: hidden;
  max-height: 100vh;
}

 body::-webkit-scrollbar {
  width: 0;
  background-color: #000;
} 
.popup::-webkit-scrollbar,
.popup2::-webkit-scrollbar,
.popup3::-webkit-scrollbar,
.popup4::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 40px;
}
.popup::-webkit-scrollbar-thumb,
.popup2::-webkit-scrollbar-thumb,
.popup3::-webkit-scrollbar-thumb,
.popup4::-webkit-scrollbar-thumb{
  width: 3px;
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 40px;
}
#container {
  display: flex;
  background-color: #111111;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 140px auto 20px auto;
  border-radius: 10px;
  padding: 0;

  width: 88%;

  border-right: 0;
  animation: troca-cor-container 3s infinite ease-in-out;
}

/*--================= FORMATAÇÕES BARRA DE NAVEGAÇÃO  =======================--*/

#topo {
  margin-top: 25px;
}

nav {
  background-color: #0e0e0e;
  top: 0;
  width: 100%;
  height: 13vh;
  border-bottom-left-radius: 10px;
  margin-bottom: 25px;
  animation: troca-cor-nav 3s infinite ease-in-out;
  position: fixed;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  background-image: url(/assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#menu ul {
  padding: 0;
  margin-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu li {
  list-style: none;
  display: inline;
  font-size: 1.5em;
  margin: 5px;
}

#menu a {
  padding: 7px 10px;
  text-decoration: none;
  color: rgb(212, 212, 212);
  transition: 0.25s;
  font-size: 1.1rem;
  background-color: #0e0e0e;
  border-radius: 6px;
  animation: troca-cor-container 3s infinite ease-in-out;
  font-weight: 600;
}

#menu a:hover {
  background-color: rgba(255, 0, 140, 0.205);
}

/*--======================= FORMATAÇÕES TOPO =======================--*/
header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

header > h2 {
  margin-top: 20px;
  font-size: 3em;
}

header h1 {
  font-weight: 200;
  padding-bottom: 10px;
}

header h1,
h2 {
  margin: auto;
  animation: header 3s infinite ease-in-out;
}

/*--===================== FORMATAÇÕES LAYOUT PRINCIPAL ===================--*/

#main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #111111;
  min-height: 100vh;
}

main:last-child {
  margin-bottom: 40px;
}

#apresentacao {
  width: 900px;
  height: 400px;
  background-color: #6d1919;
  margin: 20px auto;
  border-radius: 10px;
}

#apresentacao h1 {
  text-align: center;
}

#apresentacao p {
  margin: 20px 40px;
}

.secao-principal {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.teste {
  width: 450px;
  height: 450px;
  margin: 50px auto;
  padding: 0;
}

#container a {
  margin: auto;
}

/*--- MAIN --*/
#container-cards {
  width: 95%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: rgba(255, 255, 255, 0.041);
  width: 100%;
  height: 45vh;
  margin: 20px 0;
  border-radius: 10px;
  transition: 0.25s;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  border: 1px solid rgba(255, 255, 255, 0.178);
}
.card h5 {
  font-size: 1.5rem;
}

.card:hover {
  transform: scale(1.04);
  border: 1px solid #fff;
}

.card:nth-child(3) h1 {
  font-size: 2.5rem;
  margin: auto;
}
time {
  font-size: 0.8rem;
  align-self: flex-start;
  justify-self: end;
}

.descricao-card {
  width: 52%;
  border-left: 1px solid rgba(255, 255, 255, 0.178);
  padding: 10px 20px;
  height: 85%;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.descricao-card p {
  margin: 15px 0;
  height: 40%;
  font-size: 1em;
  font-family: 'sarala';
}

#open-details {
  margin-top: 10%;

  justify-self: flex-end;
  align-self: flex-end;

  display: flex;
  justify-content: end;
}
#open-details a {
  color: white;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
#projeto1 {
  background-image: url(/assets/img/dc.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 85%;
  margin: 0 10px;
  border-radius: 15px;
}
#projeto2 {
  background-image: url(/assets/img/portifolio.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 85%;
  margin: 0 10px;
  border-radius: 15px;
}
#projeto3 {
  background-image: url(/assets/img/breve.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40%;
  height: 85%;
  margin: 0 10px;
  border-radius: 15px;
}
#projeto4 {
  background-image: url(/assets/img/projetos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 35%;
  height: 40%;
  margin: 0 42px;
  border-radius: 15px;
}

/*--- SEÇÃO 1 --*/
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: space-between;
}

.icon1 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/img/icons/html-5.png);
  animation: icon1 3s infinite ease;
  margin: auto 20px;
}

.icon2 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/img/icons/css-3.png);
  animation: icon2 3s infinite ease;
  margin: auto 20px;
}

.icon3 {
  width: 64px;
  height: 64px;
  background-image: url(/assets/img/icons/js.png);
  animation: icon3 3s infinite ease;
  margin: auto 20px;
}

/*--========================== IMAGENS =========================--*/

/*--========================== MODAL =========================--*/

.wrapper#blur.active {
  filter: brightness(40%) blur(20px);
}
.popup,
.popup2,
.popup3,
.popup4 {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  background-color: #222222;
  padding: 20px;
  border-radius: 20px;
  max-height: 95vh;
  max-width: 60%;
  border: 1px solid #0e0e0e;
  animation: troca-cor-modal 3s infinite ease-in-out;
  color: #fff;

  overflow-y: scroll;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.popup h3,
.popup2 h3,
.popup3 h3,
.popup4 h3{
  margin: 20px auto 30px auto;
  font-family: 'righteous';
  letter-spacing: .5rem;
  font-size: 1.5em;
  text-align: center;
}
.popup p,
.popup2 p,
.popup3 p,
.popup4 p{
  font-family: 'sarala';
  word-wrap: break-word;
}

.popup.active,
.popup2.active,
.popup3.active,
.popup4.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
}

.btn-modal {
  font-weight: 600;
  color: #fff;
  background-color: #111111;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  animation: troca-cor-container 3s infinite ease-in-out;
 
}
.btn{
  padding: 10px 15px;
}
.btn-codigofonte{
  text-align: center;
}
.centralizar{
  margin: auto 0;
}


/*--========================== KEYFRAMES =========================--*/

@keyframes troca-cor-container {
  0% {
    border: 1.5px solid rgba(255, 0, 140, 0.9);
  }

  50% {
    border: 1.5px solid rgba(0, 17, 255, 0.9);
  }

  100% {
    border: 1.5px solid rgba(255, 0, 140, 0.9);
  }
}
@keyframes troca-cor-modal {
  0% {
    box-shadow: 0 0 20px rgba(255, 0, 140, 0.4);
  }

  50% {
    box-shadow: 0 0 20px rgba(0, 17, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 20px rgba(255, 0, 140, 0.4);
  }
}

@keyframes troca-cor-nav {
  0% {
    border-bottom: 1.5px solid rgba(255, 0, 140, 0.9);
  }

  50% {
    border-bottom: 1.5px solid rgba(0, 17, 255, 0.9);
  }

  100% {
    border-bottom: 1.5px solid rgba(255, 0, 140, 0.9);
  }
}

@keyframes icon2 {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes icon1 {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes icon3 {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes header {
  0% {
    text-shadow: 4px 4px 3px rgba(255, 0, 140, 0.9);
  }

  50% {
    text-shadow: 4px 4px 3px rgba(0, 17, 255, 0.9);
  }

  100% {
    text-shadow: 4px 4px 3px rgba(255, 0, 140, 0.9);
  }
}

@keyframes github {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
  }

  50% {
    text-shadow: 0 0 10px rgba(0, 17, 255, 0.9);
  }

  100% {
    text-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
  }
}

/*--========================== ANIMAÇÕES =========================--*/

/* .animacao {
  background-image: url(/assets/img/002-mulher-azul-512.png);
  background-size: contain;
  animation: troca-imagem 3s infinite ease-in-out;
} */

/*--========================== RODAPE ==========================--*/

.rodape {
  height: auto;
  background-color: #0e0e0e;
  text-align: center;

  display: flex;
  justify-content: center;
  position: relative;
  clear: both;
}

.rodape a {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: var(--fa-primary-color);
}

.rodape p {
  position: absolute;
  bottom: 1px;
  margin-bottom: 10px;
}

.github {
  margin: 5px 0 35px 0;
  animation: github 3s infinite ease-in-out;
}

:root {
  --fa-primary-color: rgb(184, 184, 184);
}

.fa-github {
  color: var(--fa-primary-color);
}

/*--========================== RESPONSIVIDADE ==========================--*/

@media screen and (max-width: 1440px) {
  main p {
    font-size: 1.1em;
  }

  #logo {
    border-bottom-left-radius: 0px;
  }

  nav {
    border-bottom-right-radius: 10px;
  }

  main {
    width: 700px;
  }

  .secao2 {
    flex-direction: column;
    justify-content: center;
  }

  .card-exp p,
  .card-hab p {
    font-size: 1.1em;
  }

  .card-exp,
  .card-hab {
    width: 700px;
  }

  .botao {
    margin-top: 0;
  }

  .projeto1 {
    margin-top: 0;
  }

  .projeto1 p {
    margin: 20px;
    margin-top: 70%;
  }

  .botao button {
    margin-top: 10px auto;
  }

  .detalhes-projeto {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024) {
  .projeto1 p {
    width: auto;
    margin: 20px;
    margin-top: 40px;
  }

  #logo {
    border-bottom-left-radius: 0px;
  }

  nav {
    border-bottom-right-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  header h2 {
    font-size: 2.5em;
  }

  header h1 {
    font-size: 1.2em;
  }

  #container {
    width: 90%;
  }

  nav {
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    height: 400px;
    width: 97%;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  #menu li {
    display: block;
    width: 100px;
    padding-left: 0;
  }

  #menu ul {
    margin: auto;
    padding-left: 0;
  }

  #menu a {
    padding-left: 0;
  }

  #logo {
    width: 100%;
    background-position-x: 50%;
    border-bottom-left-radius: 0px;
  }

  main p {
    font-size: 1.1em;
  }

  main {
    width: 90%;
    min-height: 250px;
    margin: 20px auto;
  }

  .teste {
    margin: 0;
  }

  .card-exp p,
  .card-hab p {
    font-size: 1.1em;
  }

  .secao1 {
    align-items: center;
    justify-content: center;
  }

  .card-exp,
  .card-hab {
    width: 84%;
    min-height: 250px;
    height: auto;
    margin: 20px auto;
  }

  .secao2 {
    padding: 0;
    height: auto;
  }

  .secao2 h3 {
    height: 30px;
  }

  .projeto1 {
    height: 30%;
  }

  .projeto1 p {
    padding: 0;
    width: auto;
    margin: 20px;
    margin-top: 70%;
  }

  .botao {
    width: auto;
    margin: 10px;
  }

  .botao button {
    width: 100%;
    margin: auto 0%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .detalhes-projeto {
    width: 90%;
    width: auto;
    margin: 20px;
    margin-top: 0px;
  }

  #container {
    margin-top: 60px;
  }

  @keyframes troca-cor-container {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
    }

    50% {
      box-shadow: 0 0 10px rgba(0, 17, 255, 0.9);
    }

    100% {
      box-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
    }
  }

  @keyframes troca-cor-nav {
    0% {
      box-shadow: 0 0 5px rgba(255, 0, 140, 0.9);
    }

    50% {
      box-shadow: 0 0 5px rgba(0, 17, 255, 0.9);
    }

    100% {
      box-shadow: 0 0 5px rgba(255, 0, 140, 0.9);
    }
  }
}

@media (max-width: 425px) {
  nav {
    width: 95%;
  }

  main {
    max-width: 300px;
    min-width: 100px;
    min-height: 250px;
    margin: 20px auto;
  }

  main > h1 {
    font-size: 1.3em;
    margin-top: 15px;
  }

  main > p {
    margin-top: 5px;
  }

  .card-exp p,
  .card-hab p {
    font-size: 1.1em;
  }

  .card-exp h4,
  .card-hab h4 {
    font-size: 1.2em;
  }

  .card-exp,
  .card-hab {
    max-width: 250px;
    min-width: 100px;
    min-height: 250px;
    height: auto;
    margin: 20px auto;
  }

  .icons {
    flex-direction: column;
  }

  .icon1 {
    margin-top: 20px;
  }

  .icon2 {
    margin-top: 40px;
  }

  .icon3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .secao2 {
    height: 300px;
  }

  .secao1 > h3 {
    margin: auto;
    font-size: 1.7em;
  }

  .secao2 > h3 {
    margin: auto;
    font-size: 1.7em;
  }

  .projeto1 {
    height: 30%;
    width: 100%;
    margin-top: 15px;
  }

  @keyframes troca-cor-container {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
    }

    50% {
      box-shadow: 0 0 10px rgba(0, 17, 255, 0.9);
    }

    100% {
      box-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
    }
  }

  @keyframes troca-cor-nav {
    0% {
      box-shadow: 0 0 5px rgba(255, 0, 140, 0.9);
    }

    50% {
      box-shadow: 0 0 5px rgba(0, 17, 255, 0.9);
    }

    100% {
      box-shadow: 0 0 5px rgba(255, 0, 140, 0.9);
    }
  }
}

@media (max-width: 396px) {
  .secao2 {
    height: 890px;
    padding: auto 0;
  }

  .detalhes-projeto {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .detalhes-projeto > p {
    margin: 0px;
    font-size: 0.3em;
  }

  .botao {
    margin-top: 100px;
  }

  .projeto1 {
    height: 50%;
  }

  #show-details {
    display: block;
  }
}

@media (max-width: 396px) {
  .teste {
    width: 340px;
    height: 340px;
  }

  .projeto1 {
    height: 17%;
  }

  .secao1 > h3 {
    font-size: 1.6em;
  }
}

@media (max-width: 320px) {
  #logo {
    height: 100px;
    background-position-y: 50%;
  }

  header h2 {
    font-size: 2em;
  }

  header h1 {
    font-size: 0.9em;
  }

  main {
    width: 90%;
    min-height: 200px;
    margin: 0px 5px;
    padding: 5px;
    font-size: 0.8em;
  }

  .card-exp p,
  .card-hab p {
    font-size: 0.8em;
  }

  .card-exp,
  .card-hab {
    width: 80%;
    min-height: 250px;
    height: auto;
    margin: 20px auto;
  }

  .teste {
    width: 280px;
    height: 280px;
  }

  .projeto1 {
    height: 35%;
  }

  .detalhes-projeto {
    margin: 5px;
    height: 140px;
    font-size: 0.8em;
  }
}
@media all and (max-width: 768px) {
    .popup,
    .popup2,
    .popup3,
    .popup4{
     
    
}

@media (min-width: 1441px) {
  .card-exp,
  .card-hab {
    padding-bottom: 50px;
  }

  .card-exp {
    padding-bottom: 60px;
  }
}
