/*--======================= FORMATAÇÕES GERAIS =======================--*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


* {
  margin: 0;
  font-family: "century gothic", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: rgb(212, 212, 212);
  overflow-x: hidden;
  max-height: 100vh;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: #000;
}


.popup::-webkit-scrollbar,
.popup2::-webkit-scrollbar,
.popup3::-webkit-scrollbar,
.popup4::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 40px;
}

.popup::-webkit-scrollbar-thumb,
.popup2::-webkit-scrollbar-thumb,
.popup3::-webkit-scrollbar-thumb,
.popup4::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgba(255, 255, 255, 0.144);
  border-radius: 40px;
}

#container {
  display: flex;
  background-color: #111111;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 140px auto 20px auto;
  border-radius: 10px;
  padding: 0;

  width: 88%;

  border-right: 0;
  animation: troca-cor-container 3s infinite ease-in-out;
}

/*--================= FORMATAÇÕES BARRA DE NAVEGAÇÃO  =======================--*/

#topo {
  margin-top: 25px;
}

nav {
  background-color: #0e0e0e;
  top: 0;
  width: 100%;
  height: 11vh;
  border-bottom-left-radius: 10px;
  margin-bottom: 25px;
  animation: troca-cor-nav 3s infinite ease-in-out;
  position: fixed;
  z-index: 10;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#logo {
  background-image: url(/assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#menu ul {
  padding: 0;
  margin-right: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu li {
  list-style: none;
  display: inline;
  font-size: 1.5em;
  margin: 5px;
}

#menu a {
  padding: 7px 10px;
  text-decoration: none;
  color: rgb(212, 212, 212);
  transition: 0.25s;
  font-size: 1.1rem;
  background-color: #0e0e0e;
  border-radius: 6px;
  animation: troca-cor-container 3s infinite ease-in-out;
  font-weight: 600;
}

#menu a:hover {
  background-color: rgba(255, 0, 140, 0.205);
}

/*--======================= FORMATAÇÕES TOPO =======================--*/
header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

header>h2 {
  margin-top: 20px;
  font-size: 3em;
}

header h1 {
  font-weight: 200;
  padding-bottom: 10px;
}

header h1,
h2 {
  margin: auto;
  animation: header 3s infinite ease-in-out;
}

/*--===================== FORMATAÇÕES LAYOUT PRINCIPAL ===================--*/

#main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #111111;
  min-height: 100vh;
}

main:last-child {
  margin-bottom: 40px;
}

#apresentacao {
  width: 900px;
  height: 400px;
  background-color: #6d1919;
  margin: 20px auto;
  border-radius: 10px;
}

#apresentacao h1 {
  text-align: center;
}

#apresentacao p {
  margin: 20px 40px;
}

.secao-principal {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.teste {
  width: 450px;
  height: 450px;
  margin: 50px auto;
  padding: 0;
}

#container a {
  margin: auto;
}

/*--- MAIN --*/
#container-cards {
  width: 95%;
  height: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: rgba(255, 255, 255, 0.041);
  width: 100%;
  height: 45vh;
  margin: 20px 0;
  border-radius: 10px;
  transition: 0.25s;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;

  border: 1px solid rgba(255, 255, 255, 0.178);
}

.card h5 {
  font-size: 1.5rem;
}

.card:hover {
  transform: scale(1.04);
  border: 1px solid #fff;
}

.card:nth-child(3) h1 {
  font-size: 2.5rem;
  margin: auto;
}

time {
  font-size: 0.8rem;
  align-self: flex-start;
  justify-self: end;
}

.descricao-card {
  width: 52%;
  border-left: 1px solid rgba(255, 255, 255, 0.178);
  padding: 10px 20px;
  height: 85%;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.descricao-card p {
  margin: 15px 0;
  height: 40%;
  font-size: 1em;
  font-family: 'sarala';
}

#open-details {
  margin-top: 10%;

  justify-self: flex-end;
  align-self: flex-end;

  display: flex;
  justify-content: end;
}

#open-details a {
  color: white;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

#projeto1 {
  background-image: url(/assets/img/dc.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40%;
  height: 100%;
  margin: 0 10px;
}

#projeto2 {
  background-image: url(/assets/img/portifolio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40%;
  height: 100%;
  margin: auto 10px;
}

#projeto3 {
  background-image: url(/assets/img/breve.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 35%;
  height: 60%;
  margin: auto 10px;
}

#projeto4 {
  background-image: url(/assets/img/projetos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 35%;
  height: 100%;
  margin: auto 42px;
}

/*--========================== MODAL =========================--*/

.wrapper#blur.active {
  filter: brightness(40%) blur(20px);
  width: 100%;
}

.popup,
.popup2,
.popup3,
.popup4 {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  background-color: #222222;
  padding: 20px;
  border-radius: 20px;
  max-height: 95vh;
  max-width: 95%;
  width: 60%;
  border: 1px solid #0e0e0e;
  animation: troca-cor-modal 3s infinite ease-in-out;
  color: #fff;

  overflow-y: scroll;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.popup h3,
.popup2 h3,
.popup3 h3,
.popup4 h3 {
  margin: 20px auto 30px auto;
  font-family: 'righteous';
  letter-spacing: .5rem;
  font-size: 1.5em;
  text-align: center;
}

.popup p,
.popup2 p,
.popup3 p,
.popup4 p {
  font-family: 'sarala';
  word-wrap: break-word;
}

.popup.active,
.popup2.active,
.popup3.active,
.popup4.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
}

.btn-modal {
  font-weight: 600;
  color: #fff;
  background-color: #111111;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  animation: troca-cor-container 3s infinite ease-in-out;

}

.btn {
  padding: 10px 15px;
}

.btn-codigofonte {
  text-align: center;
}

.centralizar {
  margin: auto 0;
}


/*--========================== KEYFRAMES =========================--*/

@keyframes troca-cor-container {
  0% {
    border: 1.5px solid rgba(255, 0, 140, 0.9);
  }

  50% {
    border: 1.5px solid rgba(0, 17, 255, 0.9);
  }

  100% {
    border: 1.5px solid rgba(255, 0, 140, 0.9);
  }
}

@keyframes troca-cor-modal {
  0% {
    box-shadow: 0 0 20px rgba(255, 0, 140, 0.4);
  }

  50% {
    box-shadow: 0 0 20px rgba(0, 17, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 20px rgba(255, 0, 140, 0.4);
  }
}

@keyframes troca-cor-nav {
  0% {
    border-bottom: 1.5px solid rgba(255, 0, 140, 0.9);
  }

  50% {
    border-bottom: 1.5px solid rgba(0, 17, 255, 0.9);
  }

  100% {
    border-bottom: 1.5px solid rgba(255, 0, 140, 0.9);
  }
}

/* @keyframes icon2 {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes icon1 {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes icon3 {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
} */

@keyframes header {
  0% {
    text-shadow: 4px 4px 3px rgba(255, 0, 140, 0.9);
  }

  50% {
    text-shadow: 4px 4px 3px rgba(0, 17, 255, 0.9);
  }

  100% {
    text-shadow: 4px 4px 3px rgba(255, 0, 140, 0.9);
  }
}

@keyframes github {
  0% {
    text-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
  }

  50% {
    text-shadow: 0 0 10px rgba(0, 17, 255, 0.9);
  }

  100% {
    text-shadow: 0 0 10px rgba(255, 0, 140, 0.9);
  }
}

/*--========================== ANIMAÇÕES =========================--*/

/* .animacao {
  background-image: url(/assets/img/002-mulher-azul-512.png);
  background-size: contain;
  animation: troca-imagem 3s infinite ease-in-out;
} */

/*--========================== RODAPE ==========================--*/

.rodape {
  height: auto;
  background-color: #0e0e0e;
  text-align: center;

  display: flex;
  justify-content: center;
  position: relative;
  clear: both;
}

.rodape a {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: var(--fa-primary-color);
}

.rodape p {
  position: absolute;
  bottom: 1px;
  margin-bottom: 10px;
}

.github {
  margin: 5px 0 35px 0;
  animation: github 3s infinite ease-in-out;
}

:root {
  --fa-primary-color: rgb(184, 184, 184);
}

.fa-github {
  color: var(--fa-primary-color);
}

/*--========================== RESPONSIVIDADE ==========================--*/

@media (max-width:1024px){
  .popup,
    .popup2,
    .popup3,
    .popup4{
      width: 75%;
    }
}
@media (max-width: 962px) {
  .card {
    flex-direction: column;
  }
    .popup,
    .popup2,
    .popup3,
    .popup4 {
      width: 100%;
    }
}

@media screen and (max-width: 923px) {
  .card {
    height: 800px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .descricao-card {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: none;
    margin-top: 40px;

  }

  #open-details {
    margin: auto auto;
  }

  .descricao-card p {
    height: auto;
  }

  #projeto1,
  #projeto2,
  #projeto3,
  #projeto4 {
    width: 95%;
    height: 382px;
    margin: 0;
    margin-right: 20px;
    border-radius: 0;
  }

  #projeto4 {
    height: 27%;
    width: 90%;
  }

  .card h5 {
    width: 100%;
    text-align: center;
  }

  time {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 820px) {

  #projeto1,
  #projeto2,
  #projeto3,
  #projeto4 {
    width: 95%;
    height: 312px;
    margin: 0;
    margin-right: 20px;
    border-radius: 0;
  }

  #projeto4 {
    height: 21%;
    margin-right: 0;
  }
}

@media (max-width: 770px) {
  .card {
    min-height: 700px;
  }

  .card:nth-child(4) {
    height: 45%;
  }

  #projeto1,
  #projeto2,
  #projeto3,
  #projeto4 {
    min-height: 45%;
  }

  #projeto4 {
    min-height: 20%;
    margin-right: 20px;
  }

  #open-details {
    margin: 10px auto;
  }
}

@media (max-width: 691px) {
  .card {
    min-height: 700px;
  }

  .card:nth-child(4) {
    height: 45%;
  }

  #projeto1,
  #projeto2,
  #projeto3,
  #projeto4 {
    min-height: 35%;
  }

  #projeto4 {
    min-height: 20%;
    margin-right: 20px;
  }

  #open-details {
    margin: 10px auto;
  }
}

@media (max-width: 425px) {
  #container {
    width: 95%;
  }

  header>h2 {
    font-size: 2.4em;
  }

  header>h1 {
    font-size: 1.8em;
  }

  nav {
    min-height: 11vh;
  }

  #menu {
    margin-bottom: 10px;
  }

  #menu ul {
    margin-right: 1px;
  }

  #menu li {
    margin: 0;
  }

  #menu a {
    padding: 3px 4px;
    font-size: .5em;
  }

  .card {
    min-height: 650px;
  }

  #projeto1,
  #projeto2,
  #projeto3,
  #projeto4 {
    height: 15%;
  }
  .descricao-card p{
    height: 50%;
  }
  .descricao-card p:nth-child(4){
    height: 20%;
  }

  #projeto4 {
    min-height: 1%;
    margin-right: 20px;
  }
  #open-details4{
    margin-top: 130px;
  }
}